body {
    margin: 0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
  }
  img {
    width: 300 px;
    height: 150px;
    border-radius: 10px;
  }
  
  h1 {
   
    font-size: 6rem;
    font-family: 'IM Fell English SC', serif;
    color: #fca652;
    line-height: 2;
  }
  
  h2 {
    font-size: 4rem;
    font-family: 'IM Fell English SC', serif;
    color: #c56183;
  }
  
  p {
    font-size: 3rem;
    color: #3D2C8D;
    font-family: 'Ephesis', cursive;
  }
  
  
  h3 {
    font-size: 2rem;
    color: #091353
  }
  
  .top-container {
    background-color: #212121;
    padding-top: 5%;
  }
  .mid-container{
    background-color: #6D9886;
    padding-top: 0%;
  }
  .middle-container {
    background-color: #D9CAB3;
    padding-top: 0%;
  }
  .bottom-container{
    background-color: #FAEEE0;
    padding-top: 0%;
  }
  .skill-row{width: 50%;
    font-size: 1rem;
    margin:10px auto 10px auto;
    text-align: left;
    line-height: 2;
  }
  